/* .portfolio {
  color: red;
} */

.portfolio__image {
  height: 300px;
  border: 5px solid var(--nav-color-hover);
  border-radius: 35px;
  object-fit: cover;


}



.modal-footer,
.modal-header {
  background-color: var(--nav-color-hover);
  color: var(--font-color);
}

.modal-body {

  background-color: var(--nav-color);
  color: var(--font-color);

}


.portfolio__main__container h1,
.portfolio__main__container p {
  text-align: center;
  margin-top: 3rem;

}

#portfolio__card__container {
  width: 50%;
  padding: 10px;
  border: none;


}

.portfolio__image:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.portfolio__click__info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--font-color);
  display: none;


}

.portfolio__image:hover+.portfolio__click__info {
  display: block;
}

.modal-backdrop.show {
  opacity: .1 !important;
}

#portfolio__modal__link {
  padding: 0 0 1rem 1rem;
  background-color: var(--nav-color);

}

#portfolio__modal__link:link {
  text-decoration: none;
  text-align: center;
}



@media only screen and (max-width: 600px) {
  #portfolio__card__container {
    width: 100%;
    padding: 0.5rem 2.5rem;
    border: none;
  }
}